<a href="https://centclub.de/"><img src="https://see.fontimg.com/api/renderfont4/LA7g/eyJyIjoiZnMiLCJoIjoyMDAsInciOjEwMDAsImZzIjoyMDAsImZnYyI6IiNGRkZGRkYiLCJiZ2MiOiIjMDAwMDAwIiwidCI6MX0/Q0M/dotline.png" alt="Tracing fonts"></a>
<section class="construction-section">
    <mat-icon aria-hidden="false" aria-label="under construction icon" fontIcon="construction" />
    <span>under construction</span>    
    <mat-icon aria-hidden="false" aria-label="under construction icon" fontIcon="construction" />
</section>