<header class="header">
    <span class="raleway-dots-regular">Cent Club</span>
    <button mat-flat-button>
        <span>Einloggen</span>
    </button>
</header>
<section class="hero-card">
    <div class="hero-background-container"></div>
    <div class="hero-content-container">
        <div class="hero-content-content">
            <div class="padding-right-1rem padding-left-1rem">
                <h1 class="racing-sans-one-regular">MITTENDRIN<br/> STATT NUR DABEI!</h1>
                <h3>Sei der Star deiner Party und genieße exklusive Vorteile.</h3>
                <p>Startklar? Dann trag deine E-Mail-Adresse ein und heb dein Cluberlebnis auf ein neues Level.</p>
            </div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>E-Mail-Adresse</mat-label>
                <input
                    matInput
                    [formControl]="email"
                    (blur)="updateErrorMessage()"
                />
                @if (email.invalid) {
                    <mat-error>{{errorMessage()}}</mat-error>
                }
            </mat-form-field>
            <br/>
            <button mat-flat-button style="width: 50%;">
                <span>Loslegen</span>
                <mat-icon matIconSuffix>chevron_right</mat-icon>
            </button>
        </div>
    </div>
</section>